<h1>Stories</h1>
<ul>
  <% @stories.order(:content).each do |story| %>
    <img src="<%= story.imgURL %>" />
    <li><%= link_to story.content, story_path(story)%> </li>
  <%end%>
</ul>

<%= link_to "New Story", new_story_path %>
